@{
    ViewData["Title"] = "zoo1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Budapest Zoo</h2>
<div >
    <a class="btn" href="https://www.tripadvisor.co.hu/Attraction_Review-g274887-d276871-Reviews-Budapest_Zoo_Botanical_Garden-Budapest_Central_Hungary.html">További információ</a>
</div>

