@{
    ViewData["Title"] = "zoo2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Szeged Zoo</h2>
<div >
    <a class="btn" href="https://www.tripadvisor.co.hu/Attraction_Review-g274912-d7106833-Reviews-Szeged_Zoo-Szeged_Csongrad_County_Southern_Great_Plain.html">További információ</a>
</div>

