@{
    ViewData["Title"] = "zoo3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Veszprém Zoo</h2>
<div >
    <a class="btn" href="https://www.tripadvisor.co.hu/Attraction_Review-g274919-d279760-Reviews-Veszprem_Zoo-Veszprem_Veszprem_County_Central_Transdanubia.html">További információ</a>
</div>


