@{
    ViewData["Title"] = "zoo4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sóstó Zoo</h2>
<div>
    <a class="btn" href="https://www.tripadvisor.co.hu/Attraction_Review-g754057-d2537012-Reviews-Zoo_Sosto-Nyiregyhaza_Szabolcs_Szatmar_Bereg_County_Northern_Great_Plain.html">További információ</a>
</div>


